body {
    font-size: large;
}

.preparation {
    white-space: pre-wrap;
}

.fimage img {
    /* max-width: 100%;
    width: auto;
    max-height: 250px; */
    object-fit: cover;
    width: 300px;
    height: 250px;
}

.media-content {
    overflow-x: visible;
}

.ingredients {
    overflow-x: scroll;
}

.searchResult {
    background-color: white;
}

.itemInfo:hover {
    background-color: #8ee4af;
    cursor: pointer;
}
.searchbox {
    display: flex;
    justify-content: center;
}

.front {
    z-index: 1000;
}

.inputGroup {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100%;
}
.inputBoxRow {
    padding-bottom: 0px;
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0px;
}

.edit-recipe-div {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.change-image-div {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.change-image-label {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2rem;
    padding: 2px;
    margin: 2px;
    height: 100%;
}

.recipe-button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 2px;
    color: white;
    font-size: 2rem;
    padding: 1px 5px;
    /* margin: 2px; */
    margin-right: 2px;
}

.recipe-file-button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 2px;
    color: white;
    font-size: 2rem;
    padding: 5px;
    /* margin: 2px; */
    margin-right: 2px;
    height: 100%;
}
